<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>entry</servlet-name>
		<servlet-class>jp.freeex.fourtypes.EntryServlet</servlet-class>
	</servlet>
 	<servlet>
		<servlet-name>workout</servlet-name>
		<servlet-class>jp.freeex.fourtypes.WorkoutServlet</servlet-class>
	</servlet>
 	<servlet>
		<servlet-name>summary</servlet-name>
		<servlet-class>jp.freeex.fourtypes.SummaryServlet</servlet-class>
	</servlet>
 	<servlet>
		<servlet-name>option</servlet-name>
		<servlet-class>jp.freeex.fourtypes.OptionWorkoutServlet</servlet-class>
	</servlet>
 	<servlet>
		<servlet-name>status</servlet-name>
		<servlet-class>jp.freeex.fourtypes.StatusServlet</servlet-class>
	</servlet>
 	<servlet>
		<servlet-name>estimate</servlet-name>
		<servlet-class>jp.freeex.fourtypes.EstimateServlet</servlet-class>
	</servlet>
	 	<servlet>
		<servlet-name>message</servlet-name>
		<servlet-class>jp.freeex.fourtypes.MessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>entry</servlet-name>
		<url-pattern>/entry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>workout</servlet-name>
		<url-pattern>/workout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>summary</servlet-name>
		<url-pattern>/summary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>option</servlet-name>
		<url-pattern>/option</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>status</servlet-name>
		<url-pattern>/status</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>estimate</servlet-name>
		<url-pattern>/estimate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>message</servlet-name>
		<url-pattern>/message</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>01entry.jsp</welcome-file>
	</welcome-file-list>
</web-app>
