<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<filter>
		<filter-name>antiDDoS</filter-name>
		<filter-class>jp.freeex.fourtypes.AntiDDoSFilter</filter-class>
		<init-param>
			<!-- cache values timeout (sec) -->
			<param-name>4type.cache.timeout</param-name>
			<param-value>3600</param-value>
		</init-param>
		<init-param>
			<!-- cache values max request counts -->
			<param-name>4type.cache.maxcounts</param-name>
			<param-value>200</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>antiDDoS</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/cron/*</url-pattern>
			<url-pattern>/status</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<servlet>
		<servlet-name>entry</servlet-name>
		<servlet-class>jp.freeex.fourtypes.EntryServlet</servlet-class>
	</servlet>
 	<servlet>
		<servlet-name>workout</servlet-name>
		<servlet-class>jp.freeex.fourtypes.WorkoutServlet</servlet-class>
	</servlet>
 	<servlet>
		<servlet-name>summary</servlet-name>
		<servlet-class>jp.freeex.fourtypes.SummaryServlet</servlet-class>
	</servlet>
 	<servlet>
		<servlet-name>option</servlet-name>
		<servlet-class>jp.freeex.fourtypes.OptionWorkoutServlet</servlet-class>
	</servlet>
 	<servlet>
		<servlet-name>status</servlet-name>
		<servlet-class>jp.freeex.fourtypes.StatusServlet</servlet-class>
	</servlet>
 	<servlet>
		<servlet-name>estimate</servlet-name>
		<servlet-class>jp.freeex.fourtypes.EstimateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>savecount</servlet-name>
		<servlet-class>jp.freeex.fourtypes.SaveCountServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>entry</servlet-name>
		<url-pattern>/entry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>workout</servlet-name>
		<url-pattern>/workout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>summary</servlet-name>
		<url-pattern>/summary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>option</servlet-name>
		<url-pattern>/option</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>status</servlet-name>
		<url-pattern>/status</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>estimate</servlet-name>
		<url-pattern>/estimate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>savecount</servlet-name>
		<url-pattern>/cron/savecount</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>01entry.jsp</welcome-file>
	</welcome-file-list>

	<!-- default -->
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
</web-app>